<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj na mojej stronie!</title>
</head>
<body>
<ol>
    <li>Ala</li>
    <li>Kot</li>
    <li>Pies</li>
</ol>
    <form name="example" action="/example" method="POST">
        <label for="numbers">Wprowadz liczby</label><br>
        <input type="number"  name="firstnumber"><br>
        <input type="number"  name="secondnumber"><br>
        <label for="sing">Wprowadz Znak:</label><br>
        <select name="sing">
            <option value="">Wybierz znak</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="*">*</option>
        </select><br>
        <input type="submit" name="foo" value="Wyślij">
    </form>




</body>
</html>